*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}
.text-center{
    text-align: center;
    
}
.container{
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

/*.calculator form button{
    padding: 10px 10px;
    border: 0;
    outline: 0;
    width: 60px;
    border-radius: 15px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(10, 10, 10, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}*/
/*form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}*/
/*form .display input { 
    margin: 0px;
    padding: 4px;
    background: #3a4452;
    color: white;
    text-align: right;
    flex: 1;
    font-size: 25px;
    box-shadow: none;
}*/
.calculator button{
    padding: 10px 10px;
    border: 0;
    outline: 0;
    width: 60px;
    border-radius: 15px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(10, 10, 10, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
.display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}
.display input { 
    margin: 0px;
    padding: 4px;
    background: #3a4452;
    color: white;
    text-align: right;
    flex: 1;
    font-size: 25px;
    box-shadow: none;
}

